# O que faremos nesse notebook

Na primeira etapa dos experimentos de finetuning, nós fizemos um total de 20 experimentos, variando:
 - tamanho do modelo (`t5-base` e `t5-small`)
 - como tratar caracteres `\n`: substituindo por espaço (` `) ou pipes (`|`)
 - modelo treinado sobre dataset com apenas uma tarefa ou todas (concatenação de datasets de todas tarefas)

Aqui iremos escolher, para cada tarefa, qual foi a melhor combinação de configurações.
Iremos retreinar os melhores modelos, usando o número de epochs do melhor checkpoint, usando todos os dados rotulados disponíveis (`train` e `test`). Os modelos resultantes dessa etapa serão usados para gerar os dados que iremos submeter no site da competição.

# Imports and initial setup

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from src.data.sroie import get_all_keynames_from_dir, load_labels
from tqdm import tqdm
import gc
import gin
from src.evaluation.sroie_eval_utils import extract_base_keyname
import multiprocessing as mp
import os
import torch
import pandas as pd
from src.metrics import compute_precision_recall_f1 # This is word level
from src.metrics import compute_exact
import numpy as np
import neptune

gin.enter_interactive_mode()
gin.clear_config()

gin.enter_interactive_mode()
gin.clear_config()

In [3]:
# Neptune data
project = neptune.init('marcospiau/final-project-ia376j-1')

finetuning_exp_ids = [
    'FIN-27', 'FIN-28', 'FIN-29', 'FIN-30', 'FIN-33', 'FIN-34', 'FIN-35',
    'FIN-36', 'FIN-37', 'FIN-38', 'FIN-39', 'FIN-40', 'FIN-41', 'FIN-42', 
    'FIN-43', 'FIN-44', 'FIN-45', 'FIN-46', 'FIN-47', 'FIN-48'
]

experiments = dict(
    (x.id, x)
    for x in project.get_experiments(finetuning_exp_ids)
)

In [4]:
# Same data configs used on finetuning
gin.parse_config_file(
    '/home/marcospiau/final_project_ia376j/src/models/gin/defaults.gin',
    skip_unknown=True
)
with gin.config_scope('train_sroie'):
    train_keynames = get_all_keynames_from_dir()

with gin.config_scope('validation_sroie'):
    val_keynames = get_all_keynames_from_dir()

gin.clear_config()

In [5]:
predictions_basedir = "/home/marcospiau/final_project_ia376j/data/sroie_receipt_dataset/predictions"

def get_keynames_from_experiment(
    experiment_id,
    partition,
    predictions_basedir=predictions_basedir
):
    keynames_path = os.path.join(predictions_basedir, experiment_id, partition)
    return get_all_keynames_from_dir(keynames_path)

def get_labels_dict(keynames):
    """Loads labels (or predictions) for `keynames`.txt.
    """
    return {extract_base_keyname(x): load_labels(x) for x in keynames}

def compute_metric_on_dict_keys(func, true, pred):
    """Computes metrics for dicts with matching keys. All inner dicts must have
    the same keys.
    """
    assert true.keys() == pred.keys()
    return {k: func(true[k], pred[k]) for k in true}

def reduce_metrics_dict(x, reduce_func):
    """Reduces metrics on dict. All inner dicts must have the same keys.
    """
#     dropping first level keys (sroie keymames)
    x = list(x.values())
    field_keys = list(x[0].keys())
    metric_keys = list(x[0][field_keys[0]].keys())
    
    broadcast_dict = {
        field_key: {
            metric_key:[]
            for metric_key in metric_keys
        }
        for field_key in field_keys
    }
    for example in x:
        for field_key in field_keys:
            for metric_key in metric_keys:
                broadcast_dict[field_key][metric_key].append(
                    example[field_key][metric_key]
                )
    reduced_dict = {
        field_key: {
            metric_key: reduce_func(broadcast_dict[field_key][metric_key])
            for metric_key in metric_keys
        }
        for field_key in field_keys
    }
#     return broadcast_dict
    return reduced_dict


def compute_metrics_by_fields(experiment_id, partition, true_labels_dict):
    preds_dict = get_labels_dict(
        get_keynames_from_experiment(experiment_id, partition)
    )
    assert true_labels_dict.keys() == preds_dict.keys()
    _compute_exact = lambda a_gold, a_pred: {
        'exact': compute_exact(a_gold, a_pred)}
#     metrics per example
    exact_all_examples = {
        k: compute_metric_on_dict_keys(
            _compute_exact, true_labels_dict[k], preds_dict[k]
        )
        for k in preds_dict
    }   
    precision_recall_f1_all_examples = {
        k: compute_metric_on_dict_keys(
            compute_precision_recall_f1, true_labels_dict[k], preds_dict[k]
        )
        for k in preds_dict
    }
#     merge all metrics
    fields = next(iter(preds_dict.values())).keys()
    merge_metrics = {
        keyname: {
            field: {
                **precision_recall_f1_all_examples[keyname][field],
                **exact_all_examples[keyname][field]
            }
            for field in fields
        }
        for keyname in preds_dict
    }
#     Reduce metrics by mean
    reduced_metrics = reduce_metrics_dict(merge_metrics, np.mean)
    
    return reduced_metrics

In [6]:
# Ground truth predictions: same for all experiments
true_labels = {
    'train': get_labels_dict(train_keynames),
    'test': get_labels_dict(val_keynames)
}

Metrics for all experiments:

In [7]:
val_results = pd.concat([
    pd.DataFrame(
        compute_metrics_by_fields(exp_id, 'test', true_labels['test'])
    ).assign(exp_id = exp_id)
    for exp_id in tqdm(experiments.keys())
])
val_results['all_tasks_concat'] = val_results[
    ['company', 'date', 'address', 'total']
].mean(1)
val_results = val_results.rename(
    {x: f'extract_{x}' for x in ['company', 'date', 'address', 'total']}, axis=1
)
val_results['exp_id'] = val_results.pop('exp_id')
val_results = val_results.reset_index().rename({'index': 'eval_metric'}, axis=1)
val_results = val_results.set_index('eval_metric')

val_results.head()

100%|██████████| 20/20 [00:02<00:00,  9.42it/s]

,extract_company,extract_date,extract_address,extract_total,all_tasks_concat,exp_id
eval_metric,,,,,,
precision,0.930298,0.975,0.902343,0.895000,0.925660,FIN-27
recall,0.914119,0.975,0.889215,0.907500,0.921458,FIN-27
f1,0.918484,0.975,0.894129,0.898333,0.921487,FIN-27
exact,0.820000,0.945,0.440000,0.875000,0.770000,FIN-27
precision,0.883796,0.995,0.897181,0.940000,0.928994,FIN-28

In [8]:
exp_properties = (
    pd.DataFrame({k:v.get_properties() for k,v in tqdm(experiments.items())})
    .T
    .reset_index()
    .rename({'index': 'exp_id'},axis=1)
    [['exp_id', 'task_train', 'param__t5_model_prefix', 'str_replace_newlines']]
    .rename({'param__t5_model_prefix': 'param__t5_model_prefix'}, axis=1)
)
exp_properties['exp_name'] = exp_properties['exp_id'].map(
    lambda x: experiments[x].name)
exp_properties

100%|██████████| 20/20 [00:07<00:00,  2.68it/s]

,exp_id,task_train,param__t5_model_prefix,str_replace_newlines,exp_name
0,FIN-27,all_tasks_concat,t5-base,|,t5-base_all_tasks_concat_newlines_as_pipes
1,FIN-28,all_tasks_concat,t5-base,,t5-base_all_tasks_concat_newlines_as_spaces
2,FIN-29,all_tasks_concat,t5-small,|,t5-small_all_tasks_concat_newlines_as_pipes
3,FIN-30,all_tasks_concat,t5-small,,t5-small_all_tasks_concat_newlines_as_spaces
4,FIN-33,extract_company,t5-base,|,t5-base_extract_company_newlines_as_pipes
5,FIN-34,extract_company,t5-base,,t5-base_extract_company_newlines_as_spaces
6,FIN-35,extract_company,t5-small,|,t5-small_extract_company_newlines_as_pipes
7,FIN-36,extract_company,t5-small,,t5-small_extract_company_newlines_as_spaces
8,FIN-37,extract_total,t5-base,|,t5-base_extract_total_newlines_as_pipes
9,FIN-38,extract_total,t5-base,,t5-base_extract_total_newlines_as_spaces
10,FIN-39,extract_total,t5-small,|,t5-small_extract_total_newlines_as_pipes
11,FIN-40,extract_total,t5-small,,t5-small_extract_total_newlines_as_spaces
12,FIN-41,extract_address,t5-base,|,t5-base_extract_address_newlines_as_pipes
13,FIN-42,extract_address,t5-base,,t5-base_extract_address_newlines_as_spaces
14,FIN-43,extract_address,t5-small,|,t5-small_extract_address_newlines_as_pipes
15,FIN-44,extract_address,t5-small,,t5-small_extract_address_newlines_as_spaces
16,FIN-45,extract_date,t5-base,|,t5-base_extract_date_newlines_as_pipes
17,FIN-46,extract_date,t5-base,,t5-base_extract_date_newlines_as_spaces
18,FIN-47,extract_date,t5-small,|,t5-small_extract_date_newlines_as_pipes
19,FIN-48,extract_date,t5-small,,t5-small_extract_date_newlines_as_spaces

Merging both:

In [9]:
val_results = (
    val_results
    .merge(right = exp_properties, how='left', on='exp_id')
    .set_index(val_results.index)
)
val_results.head()

,extract_company,extract_date,extract_address,extract_total,all_tasks_concat,exp_id,task_train,param__t5_model_prefix,str_replace_newlines,exp_name
eval_metric,,,,,,,,,,
precision,0.930298,0.975,0.902343,0.895000,0.925660,FIN-27,all_tasks_concat,t5-base,|,t5-base_all_tasks_concat_newlines_as_pipes
recall,0.914119,0.975,0.889215,0.907500,0.921458,FIN-27,all_tasks_concat,t5-base,|,t5-base_all_tasks_concat_newlines_as_pipes
f1,0.918484,0.975,0.894129,0.898333,0.921487,FIN-27,all_tasks_concat,t5-base,|,t5-base_all_tasks_concat_newlines_as_pipes
exact,0.820000,0.945,0.440000,0.875000,0.770000,FIN-27,all_tasks_concat,t5-base,|,t5-base_all_tasks_concat_newlines_as_pipes
precision,0.883796,0.995,0.897181,0.940000,0.928994,FIN-28,all_tasks_concat,t5-base,,t5-base_all_tasks_concat_newlines_as_spaces

In [10]:
pd.options.display.max_rows = 500
pd.options.display.max_columns = None

def get_sort_dict(sorted_values):
    """Returns a dict where the values are sorted acording keys specification.
    """
    return dict((k,v) for v,k in enumerate(sorted_values))
    
def choose_best_model(df, task_eval, metric_eval, show_top_k_models=None):
#     Getting best experiments
    df = df.copy()
    sorted_exps = df.loc[metric_eval].sort_values(task_eval, ascending=False)
    
    exp_ord_dict = get_sort_dict(sorted_exps['exp_id'])
    df['exp_rank'] = df['exp_id'].map(exp_ord_dict.get)
    
    metric_ord_dict = get_sort_dict(['precision', 'recall', 'f1', 'exact'])
    df['tmp_ord_metric'] = df.index.to_series().map(metric_ord_dict.get)
    df = (
        df
        .reset_index()
        .sort_values(['exp_rank', 'tmp_ord_metric'])
        .drop('tmp_ord_metric', axis=1)
        .set_index(['exp_name', 'exp_id', 'exp_rank', 'eval_metric'])
    )
    if show_top_k_models is not None:
        df = df.groupby(level=-1).head(show_top_k_models)
    df = df.style.set_properties(
        **{'background-color': 'lightgreen'},subset=task)
    return df

All models sorted by exp_id (same on report appendice):

In [39]:
display(
    choose_best_model(val_results, 'all_tasks_concat', 'f1')
    .data
    .reset_index()
    .drop('exp_rank', axis=1)
    .sort_values('exp_id')
    .reset_index(drop=True)
)

,exp_name,exp_id,eval_metric,extract_company,extract_date,extract_address,extract_total,all_tasks_concat,task_train,param__t5_model_prefix,str_replace_newlines
0,t5-base_all_tasks_concat_newlines_as_pipes,FIN-27,precision,0.930298,0.975000,0.902343,0.895000,0.925660,all_tasks_concat,t5-base,|
1,t5-base_all_tasks_concat_newlines_as_pipes,FIN-27,recall,0.914119,0.975000,0.889215,0.907500,0.921458,all_tasks_concat,t5-base,|
2,t5-base_all_tasks_concat_newlines_as_pipes,FIN-27,f1,0.918484,0.975000,0.894129,0.898333,0.921487,all_tasks_concat,t5-base,|
3,t5-base_all_tasks_concat_newlines_as_pipes,FIN-27,exact,0.820000,0.945000,0.440000,0.875000,0.770000,all_tasks_concat,t5-base,|
4,t5-base_all_tasks_concat_newlines_as_spaces,FIN-28,precision,0.883796,0.995000,0.897181,0.940000,0.928994,all_tasks_concat,t5-base,
5,t5-base_all_tasks_concat_newlines_as_spaces,FIN-28,recall,0.876042,0.995000,0.886881,0.932500,0.922606,all_tasks_concat,t5-base,
6,t5-base_all_tasks_concat_newlines_as_spaces,FIN-28,f1,0.873571,0.995000,0.890402,0.933333,0.923077,all_tasks_concat,t5-base,
7,t5-base_all_tasks_concat_newlines_as_spaces,FIN-28,exact,0.720000,0.995000,0.410000,0.910000,0.758750,all_tasks_concat,t5-base,
8,t5-small_all_tasks_concat_newlines_as_pipes,FIN-29,f1,0.896546,0.973333,0.889479,0.925833,0.921298,all_tasks_concat,t5-small,|
9,t5-small_all_tasks_concat_newlines_as_pipes,FIN-29,exact,0.730000,0.940000,0.430000,0.900000,0.750000,all_tasks_concat,t5-small,|
10,t5-small_all_tasks_concat_newlines_as_pipes,FIN-29,precision,0.908639,0.973333,0.898041,0.927500,0.926878,all_tasks_concat,t5-small,|
11,t5-small_all_tasks_concat_newlines_as_pipes,FIN-29,recall,0.893530,0.973333,0.884850,0.930000,0.920428,all_tasks_concat,t5-small,|
12,t5-small_all_tasks_concat_newlines_as_spaces,FIN-30,precision,0.912056,0.978333,0.880613,0.935000,0.926500,all_tasks_concat,t5-small,
13,t5-small_all_tasks_concat_newlines_as_spaces,FIN-30,recall,0.882369,0.978333,0.883310,0.932500,0.919128,all_tasks_concat,t5-small,
14,t5-small_all_tasks_concat_newlines_as_spaces,FIN-30,f1,0.891239,0.978333,0.877722,0.931667,0.919740,all_tasks_concat,t5-small,
15,t5-small_all_tasks_concat_newlines_as_spaces,FIN-30,exact,0.710000,0.945000,0.420000,0.915000,0.747500,all_tasks_concat,t5-small,
16,t5-base_extract_company_newlines_as_pipes,FIN-33,exact,0.735000,0.000000,0.000000,0.000000,0.183750,extract_company,t5-base,|
17,t5-base_extract_company_newlines_as_pipes,FIN-33,f1,0.900210,0.000000,0.012675,0.000000,0.228221,extract_company,t5-base,|
18,t5-base_extract_company_newlines_as_pipes,FIN-33,recall,0.890143,0.000000,0.008597,0.000000,0.224685,extract_company,t5-base,|
19,t5-base_extract_company_newlines_as_pipes,FIN-33,precision,0.924250,0.000000,0.027250,0.000000,0.237875,extract_company,t5-base,|
20,t5-base_extract_company_newlines_as_spaces,FIN-34,recall,0.912036,0.000000,0.010339,0.000000,0.230594,extract_company,t5-base,
21,t5-base_extract_company_newlines_as_spaces,FIN-34,f1,0.916023,0.000000,0.014843,0.000000,0.232716,extract_company,t5-base,
22,t5-base_extract_company_newlines_as_spaces,FIN-34,precision,0.928000,0.000000,0.029048,0.000000,0.239262,extract_company,t5-base,
23,t5-base_extract_company_newlines_as_spaces,FIN-34,exact,0.815000,0.000000,0.000000,0.000000,0.203750,extract_company,t5-base,
24,t5-small_extract_company_newlines_as_pipes,FIN-35,exact,0.720000,0.000000,0.000000,0.000000,0.180000,extract_company,t5-small,|
25,t5-small_extract_company_newlines_as_pipes,FIN-35,f1,0.901210,0.000000,0.018654,0.000000,0.229966,extract_company,t5-small,|
26,t5-small_extract_company_newlines_as_pipes,FIN-35,recall,0.892577,0.000000,0.013891,0.000000,0.226617,extract_company,t5-small,|
27,t5-small_extract_company_newlines_as_pipes,FIN-35,precision,0.918591,0.000000,0.034432,0.000000,0.238256,extract_company,t5-small,|
28,t5-small_extract_company_newlines_as_spaces,FIN-36,exact,0.675000,0.000000,0.000000,0.000000,0.168750,extract_company,t5-small,
29,t5-small_extract_company_newlines_as_spaces,FIN-36,f1,0.894982,0.000000,0.011633,0.000000,0.226654,extract_company,t5-small,
30,t5-small_extract_company_newlines_as_spaces,FIN-36,recall,0.890762,0.000000,0.008250,0.000000,0.224753,extract_company,t5-small,
31,t5-small_extract_company_newlines_as_spaces,FIN-36,precision,0.919786,0.000000,0.023214,0.000000,0.235750,extract_company,t5-small,
32,t5-base_extract_total_newlines_as_pipes,FIN-37,precision,0.000000,0.000000,0.000000,0.932500,0.233125,extract_total,t5-base,|
33,t5-base_extract_total_newlines_as_pipes,FIN-37,exact,0.000000,0.000000,0.000000,0.905000,0.226250,extract_total,t5-base,|
34,t5-base_extract_total_newlines_as_pipes,FIN-37,f1,0.000000,0.000000,0.000000,0.930833,0.232708,extract_total,t5-base,|
35,t5-base_extract_total_newlines_as_pipes,FIN-37,recall,0.000000,0.000000,0.000000,0.935000,0.233750,extract_total,t5-base,|
36,t5-base_extract_total_newlines_as_spaces,FIN-38,exact,0.000000,0.000000,0.000000,0.910000,0.227500,extract_total,t5-base,
37,t5-base_extract_total_newlines_as_spaces,FIN-38,f1,0.000000,0.000000,0.000000,0.939167,0.234792,extract_total,t5-base,
38,t5-base_extract_total_newlines_as_spaces,FIN-38,recall,0.000000,0.000000,0.000000,0.942500,0.235625,extract_total,t5-base,
39,t5-base_extract_total_newlines_as_spaces,FIN-38,precision,0.000000,0.000000,0.000000,0.942500,0.235625,extract_total,t5-base,
40,t5-small_extract_total_newlines_as_pipes,FIN-39,exact,0.000000,0.000000,0.000000,0.915000,0.228750,extract_total,t5-small,|
41,t5-small_extract_total_newlines_as_pipes,FIN-39,precision,0.000000,0.000000,0.000000,0.930000,0.232500,extract_total,t5-small,|
42,t5-small_extract_total_newlines_as_pipes,FIN-39,recall,0.000000,0.000000,0.000000,0.930000,0.232500,extract_total,t5-small,|
43,t5-small_extract_total_newlines_as_pipes,FIN-39,f1,0.000000,0.000000,0.000000,0.928333,0.232083,extract_total,t5-small,|
44,t5-small_extract_total_newlines_as_spaces,FIN-40,f1,0.000000,0.000000,0.000000,0.923333,0.230833,extract_total,t5-small,
45,t5-small_extract_total_newlines_as_spaces,FIN-40,recall,0.000000,0.000000,0.000000,0.925000,0.231250,extract_total,t5-small,
46,t5-small_extract_total_newlines_as_spaces,FIN-40,precision,0.000000,0.000000,0.000000,0.927500,0.231875,extract_total,t5-small,
47,t5-small_extract_total_newlines_as_spaces,FIN-40,exact,0.000000,0.000000,0.000000,0.900000,0.225000,extract_total,t5-small,
48,t5-base_extract_address_newlines_as_pipes,FIN-41,exact,0.000000,0.000000,0.440000,0.000000,0.110000,extract_address,t5-base,|
49,t5-base_extract_address_newlines_as_pipes,FIN-41,f1,0.012342,0.000000,0.900480,0.000000,0.228205,extract_address,t5-base,|
50,t5-base_extract_address_newlines_as_pipes,FIN-41,recall,0.023631,0.000000,0.899472,0.000000,0.230776,extract_address,t5-base,|
51,t5-base_extract_address_newlines_as_pipes,FIN-41,precision,0.008492,0.000000,0.903798,0.000000,0.228073,extract_address,t5-base,|
52,t5-base_extract_address_newlines_as_spaces,FIN-42,precision,0.007333,0.000000,0.906665,0.000000,0.228500,extract_address,t5-base,
53,t5-base_extract_address_newlines_as_spaces,FIN-42,recall,0.019881,0.000000,0.892842,0.000000,0.228181,extract_address,t5-base,
54,t5-base_extract_address_newlines_as_spaces,FIN-42,f1,0.010540,0.000000,0.898072,0.000000,0.227153,extract_address,t5-base,
55,t5-base_extract_address_newlines_as_spaces,FIN-42,exact,0.000000,0.000000,0.445000,0.000000,0.111250,extract_address,t5-base,
56,t5-small_extract_address_newlines_as_pipes,FIN-43,precision,0.007659,0.000000,0.899369,0.000000,0.226757,extract_address,t5-small,|
57,t5-small_extract_address_newlines_as_pipes,FIN-43,recall,0.021131,0.000000,0.889756,0.000000,0.227722,extract_address,t5-small,|
58,t5-small_extract_address_newlines_as_pipes,FIN-43,exact,0.000000,0.000000,0.430000,0.000000,0.107500,extract_address,t5-small,|
59,t5-small_extract_address_newlines_as_pipes,FIN-43,f1,0.011092,0.000000,0.893323,0.000000,0.226104,extract_address,t5-small,|
60,t5-small_extract_address_newlines_as_spaces,FIN-44,recall,0.022798,0.000000,0.890721,0.000000,0.228380,extract_address,t5-small,
61,t5-small_extract_address_newlines_as_spaces,FIN-44,exact,0.000000,0.000000,0.455000,0.000000,0.113750,extract_address,t5-small,
62,t5-small_extract_address_newlines_as_spaces,FIN-44,f1,0.011806,0.000000,0.895264,0.000000,0.226768,extract_address,t5-small,
63,t5-small_extract_address_newlines_as_spaces,FIN-44,precision,0.008114,0.000000,0.902580,0.000000,0.227673,extract_address,t5-small,
64,t5-base_extract_date_newlines_as_pipes,FIN-45,exact,0.000000,0.990000,0.000000,0.000000,0.247500,extract_date,t5-base,|
65,t5-base_extract_date_newlines_as_pipes,FIN-45,precision,0.000000,0.990000,0.000000,0.000000,0.247500,extract_date,t5-base,|
66,t5-base_extract_date_newlines_as_pipes,FIN-45,recall,0.000000,0.990000,0.000000,0.000000,0.247500,extract_date,t5-base,|
67,t5-base_extract_date_newlines_as_pipes,FIN-45,f1,0.000000,0.990000,0.000000,0.000000,0.247500,extract_date,t5-base,|
68,t5-base_extract_date_newlines_as_spaces,FIN-46,recall,0.000000,0.995000,0.000000,0.000000,0.248750,extract_date,t5-base,
69,t5-base_extract_date_newlines_as_spaces,FIN-46,precision,0.000000,0.995000,0.000000,0.000000,0.248750,extract_date,t5-base,
70,t5-base_extract_date_newlines_as_spaces,FIN-46,exact,0.000000,0.995000,0.000000,0.000000,0.248750,extract_date,t5-base,
71,t5-base_extract_date_newlines_as_spaces,FIN-46,f1,0.000000,0.995000,0.000000,0.000000,0.248750,extract_date,t5-base,
72,t5-small_extract_date_newlines_as_pipes,FIN-47,f1,0.000000,0.980000,0.000000,0.000000,0.245000,extract_date,t5-small,|
73,t5-small_extract_date_newlines_as_pipes,FIN-47,recall,0.000000,0.980000,0.000000,0.000000,0.245000,extract_date,t5-small,|
74,t5-small_extract_date_newlines_as_pipes,FIN-47,precision,0.000000,0.980000,0.000000,0.000000,0.245000,extract_date,t5-small,|
75,t5-small_extract_date_newlines_as_pipes,FIN-47,exact,0.000000,0.960000,0.000000,0.000000,0.240000,extract_date,t5-small,|
76,t5-small_extract_date_newlines_as_spaces,FIN-48,exact,0.000000,0.990000,0.000000,0.000000,0.247500,extract_date,t5-small,
77,t5-small_extract_date_newlines_as_spaces,FIN-48,f1,0.000000,0.990000,0.000000,0.000000,0.247500,extract_date,t5-small,
78,t5-small_extract_date_newlines_as_spaces,FIN-48,recall,0.000000,0.990000,0.000000,0.000000,0.247500,extract_date,t5-small,
79,t5-small_extract_date_newlines_as_spaces,FIN-48,precision,0.000000,0.990000,0.000000,0.000000,0.247500,extract_date,t5-small,

Best model for each task:

In [11]:
for task in exp_properties.task_train.unique():
    print(120 * '*')
    print(f'Best model for task {task}')
    display(choose_best_model(val_results, task, 'f1', 1))

************************************************************************************************************************
Best model for task all_tasks_concat

************************************************************************************************************************
Best model for task extract_company

************************************************************************************************************************
Best model for task extract_total

************************************************************************************************************************
Best model for task extract_address

************************************************************************************************************************
Best model for task extract_date

In [13]:
best_exp_ids = {
    task: (
        choose_best_model(val_results, task, 'f1', 1)
        .data
        .index
        .get_level_values('exp_id').unique()[0]
    )
    for task in exp_properties.task_train.unique()
}

best_exp_names = {
    task: (
        choose_best_model(val_results, task, 'f1', 1)
        .data
        .index
        .get_level_values('exp_name').unique()[0]
    )
    for task in exp_properties.task_train.unique()
}

print(f'best_exp_ids -> {best_exp_ids}')
print(f'best_exp_names -> {best_exp_names}')

best_exp_ids -> {'all_tasks_concat': 'FIN-28', 'extract_company': 'FIN-27', 'extract_total': 'FIN-38', 'extract_address': 'FIN-41', 'extract_date': 'FIN-28'}
best_exp_names -> {'all_tasks_concat': 't5-base_all_tasks_concat_newlines_as_spaces', 'extract_company': 't5-base_all_tasks_concat_newlines_as_pipes', 'extract_total': 't5-base_extract_total_newlines_as_spaces', 'extract_address': 't5-base_extract_address_newlines_as_pipes', 'extract_date': 't5-base_all_tasks_concat_newlines_as_spaces'}

In [14]:
' '.join(set(best_exp_names.values()))

't5-base_extract_address_newlines_as_pipes t5-base_all_tasks_concat_newlines_as_spaces t5-base_all_tasks_concat_newlines_as_pipes t5-base_extract_total_newlines_as_spaces'

In [15]:
[print(x) for x in set(best_exp_names.values())]

t5-base_extract_address_newlines_as_pipes
t5-base_all_tasks_concat_newlines_as_spaces
t5-base_all_tasks_concat_newlines_as_pipes
t5-base_extract_total_newlines_as_spaces

[None, None, None, None]

What we will need to run:

In [16]:
{(best_exp_ids[k], best_exp_names[k]) for k in best_exp_ids.keys()}

{('FIN-27', 't5-base_all_tasks_concat_newlines_as_pipes'),
 ('FIN-28', 't5-base_all_tasks_concat_newlines_as_spaces'),
 ('FIN-38', 't5-base_extract_total_newlines_as_spaces'),
 ('FIN-41', 't5-base_extract_address_newlines_as_pipes')}

Generating final gin files:

In [17]:
cmd_to_format = """
cat ./t5_default_finetune/{exp_name}.gin \\
| sed s,defaults.gin,best_t5_models_defaults.gin,g \\
| sed s,'early_stop.patience = 50','early_stop.patience = 99999',g \\
| sed s,'trainer.min_epochs = 20','trainer.min_epochs = 1',g \\
| sed s,'trainer.max_epochs = 200','trainer.max_epochs = {max_epochs}',g \\
| sed s,"neptune_logger.experiment_name = '{exp_name}'","neptune_logger.experiment_name = '{new_exp_name}'",g \\
> ./t5_best_models_finetune/{new_exp_name}.gin
"""

# Com certeza tem jeitos melhores de fazer isso, mas eu estava com pressa
def extract_max_epochs_from_checkpoint(x):
    
    basename = os.path.basename(x)
    start = basename.find('epoch=')
    end = basename.find('val_precision=')
    return int(basename[start+len('epoch')+1:end-1]) + 1

for exp_id, exp_name in {(best_exp_ids[k], best_exp_names[k]) for k in best_exp_ids.keys()}:
    checkpoint_file = experiments[exp_id].get_channels()['best_model_path'].y
#     print(checkpoint_file)
    print(cmd_to_format.format(**{
        'exp_name': exp_name,
        'max_epochs': extract_max_epochs_from_checkpoint(checkpoint_file),
        'new_exp_name': f'all_labelled_data-{exp_id}-{exp_name}'
    }))
#     break

cat ./t5_default_finetune/t5-base_extract_address_newlines_as_pipes.gin \
| sed s,defaults.gin,best_t5_models_defaults.gin,g \
| sed s,'early_stop.patience = 50','early_stop.patience = 99999',g \
| sed s,'trainer.min_epochs = 20','trainer.min_epochs = 1',g \
| sed s,'trainer.max_epochs = 200','trainer.max_epochs = 7',g \
| sed s,"neptune_logger.experiment_name = 't5-base_extract_address_newlines_as_pipes'","neptune_logger.experiment_name = 'all_labelled_data-FIN-41-t5-base_extract_address_newlines_as_pipes'",g \
> ./t5_best_models_finetune/all_labelled_data-FIN-41-t5-base_extract_address_newlines_as_pipes.gin


cat ./t5_default_finetune/t5-base_all_tasks_concat_newlines_as_spaces.gin \
| sed s,defaults.gin,best_t5_models_defaults.gin,g \
| sed s,'early_stop.patience = 50','early_stop.patience = 99999',g \
| sed s,'trainer.min_epochs = 20','trainer.min_epochs = 1',g \
| sed s,'trainer.max_epochs = 200','trainer.max_epochs = 22',g \
| sed s,"neptune_logger.experiment_name = 't5-base_all_tasks_concat_newlines_as_spaces'","neptune_logger.experiment_name = 'all_labelled_data-FIN-28-t5-base_all_tasks_concat_newlines_as_spaces'",g \
> ./t5_best_models_finetune/all_labelled_data-FIN-28-t5-base_all_tasks_concat_newlines_as_spaces.gin


cat ./t5_default_finetune/t5-base_all_tasks_concat_newlines_as_pipes.gin \
| sed s,defaults.gin,best_t5_models_defaults.gin,g \
| sed s,'early_stop.patience = 50','early_stop.patience = 99999',g \
| sed s,'trainer.min_epochs = 20','trainer.min_epochs = 1',g \
| sed s,'trainer.max_epochs = 200','trainer.max_epochs = 58',g \
| sed s,"neptune_logger.experiment_name = 't5-base_all_tasks_concat_newlines_as_pipes'","neptune_logger.experiment_name = 'all_labelled_data-FIN-27-t5-base_all_tasks_concat_newlines_as_pipes'",g \
> ./t5_best_models_finetune/all_labelled_data-FIN-27-t5-base_all_tasks_concat_newlines_as_pipes.gin


cat ./t5_default_finetune/t5-base_extract_total_newlines_as_spaces.gin \
| sed s,defaults.gin,best_t5_models_defaults.gin,g \
| sed s,'early_stop.patience = 50','early_stop.patience = 99999',g \
| sed s,'trainer.min_epochs = 20','trainer.min_epochs = 1',g \
| sed s,'trainer.max_epochs = 200','trainer.max_epochs = 55',g \
| sed s,"neptune_logger.experiment_name = 't5-base_extract_total_newlines_as_spaces'","neptune_logger.experiment_name = 'all_labelled_data-FIN-38-t5-base_extract_total_newlines_as_spaces'",g \
> ./t5_best_models_finetune/all_labelled_data-FIN-38-t5-base_extract_total_newlines_as_spaces.gin